django-environ
Django
psycopg2-binary
sentry-sdk
django-filter
django-cors-headers
coreapi
django-parler
django-enumfields
django-anymail
pillow
django-munigeo
django-mailer
xlsxwriter
graphene-django
django-graphql-geojson
