Django
coreapi
django-anymail
django-cors-headers
django-environ
django-filter
django-graphql-geojson
django-graphql-jwt
django-helusers
django-ilmoitin[graphql_api]
django-mailer
django-parler
django-silk
elastic-apm
factory-boy
git+https://github.com/a-rmz/django-munigeo.git@0.4.0-beta#egg=django-munigeo
graphene-django
graphene-federation
graphene-file-upload
json_log_formatter
pillow
psycopg2-binary
sentry-sdk
ujson
uwsgi
xlsxwriter
