<p>Bästa kund, här är en faktura för din tilläggstjänst. Du kan betala den genom att klicka
    på "Betala" längre ner i meddelandet.</p>
<br/>

<h3>Faktura</h3>

<table style="width: 100%">
    <tr>
        <td>
            Avtal
        </td>
        <td>Båtplats</td>
    </tr>
    <tr>
        <td>
            Båtplats:
        </td>
        <td>{{ order.lease.berth.pier.harbor.name }}</td>
    </tr>
    <tr>
        <td>
            Avtalsperiod:
        </td>
        <td>{{ order.lease.start_date }} - {{ order.lease.end_date }}</td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td>
            Tilläggstjänst som fakturan gäller:
        </td>
        <td>{{ additional_product.name }}</td>
    </tr>
    <tr>
        <td>
            Avtalsperiod:
        </td>
        <td>Vinter {{ additional_product.season }}</td>
    </tr>
    <tr>
        <td colspan="2">
            &nbsp;
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <hr/>
        </td>
    </tr>
    <tr>
        <td>{{ additional_product.name }} totalt:</td>
        <td>{{ order.total_price }}&euro;</td>
    </tr>
    <tr>
        <td>
            TOTALT:
        </td>
        <td>{{ order.total_price }}&euro;
        </td>
    </tr>
</table>

<table style="width: 100%; margin: 32px 0; background-color: #9fc9eb;">
    <tr>
        <td style="padding: 32px 48px;">
            <p>
                Betala fakturan via denna länk före förfallodatumet {{ order.due_date }}:
            </p>

            <a style="display: block; padding: 16px; color: white; background-color: #0000BF; text-align: center; text-decoration: none;"
               href="{{ payment_url }}">Betala {{ order.total_price }}&euro; &rarr;</a>

            <p>
                Observera att fakturan kan betalas endast via denna länk. Betalningar som gjorts på
                annat sätt tas inte emot. För mer information, kontakta vår kundtjänst via
                <a href="mailto:venepaikkavaraukset@hel.fi">venepaikkavaraukset@hel.fi</a>.
            </p>
        </td>
    </tr>
</table>

<p>
    Helsingfors stads båtplatser hyrs ut till kunder tills vidare, och för dem
    debiteras en årlig avgift enligt den gällande prislistan. Om fakturan inte betalas
    senast på förfallodagen sägs hyresavtalet upp automatiskt. Båten får förvaras på
    båtplatsen under båtsäsongen, som varar under perioden 10.6–14.9.
</p>
<p>
    För att ta emot en båtplats måste du godkänna de gällande hyresavtalsvillkoren för
    båtplatser och båthamnens regler.
</p>

<table style="width: 100%; margin: 48px 0;">
    <tr>
        <td style="text-align: center;">
            <a style="font-size: 16px; color: #0072C6;" href="https://venepaikat.hel.fi">
                Helsingfors stadens båtservicen &rarr;
            </a>
        </td>
    </tr>
</table>
