<p>Hei! Seuraavan kauden laskut lähetetty</p>

<table style="width: 100%">
    <tr>
        <td>
            <strong>Laskun lähetys onnistui:</strong>
        </td>
        <td>{{ successful_orders }}</td>
    </tr>
    <tr>
        <td>
            <strong>Laskun lähetys epäonnistui:</strong>
        </td>
        <td>{{ failed_orders }}</td>
    </tr>
</table>

<p>Täältä voit korjata mahdolliset puutteet:<br/>
    <a href="https://venepaikka-admin.hel.fi/recurring-invoices">
        https://venepaikka-admin.hel.fi/recurring-invoices
    </a>
</p>


<p>Love, the developers <3</p>