{% if exited_with_errors %}
<p>Hei! The invoicing exceeded the limit of 100 errors so it stopped.</p>
{% else %}
<p>Hei! The invoicing ended successfully.</p>
{% endif %}

<table style="width: 100%">
    <tr>
        <td>
            <strong>Successful invoices sent:</strong>
        </td>
        <td>{{ successful_orders }}</td>
    </tr>
    <tr>
        <td>
            <strong>Failed invoices (not sent):</strong>
        </td>
        <td>{{ failed_orders }}</td>
    </tr>
</table>

<p>Here you can check the failed ones:<br/>
    <a href="https://venepaikka-admin.hel.fi/recurring-invoices">
        https://venepaikka-admin.hel.fi/recurring-invoices
    </a>
</p>


<p>Love, the developers <3</p>