<p>
    Bästa kund, tack för din ansökan. Vi har behandlat den och erbjuder dig båtplatsen
    nedan. Om du vill ta emot den ska du meddela oss om det via länken i slutet av
    meddelandet.
</p>

<h3>Båtplats som erbjuds</h3>

<img src="{{ harborImage }}" alt="Hamnbild"/>

<h4>{{ harborName }}</h4>

<p style="margin-bottom: 16px;">
    {{ harborAddress }}
</p>

<p><a href="{{ harborWebAddress }}">
    Webbplats
</a></p>

<p><a href="{{ harborMap }}">
    Hamnkartan (PDF)
</a></p>

<table style="width: 100%; table-layout: fixed;">
    <tr>
        {% if wasteManagement %}
            <th style="width: 70px; font-size: 14px; text-align: center; font-weight: bold; vertical-align: top; line-height: 14px;">
                <img src="https://venepaikat.hel.fi/img/email_assets/waste_management.png"
                     alt="Avfallshantering" style="display: block; margin: 5px auto; height: 46px; width: 46px;"/>
                Avfallshantering
            </th>
        {% endif %}

        {% if gate %}
            <th style="width: 70px; font-size: 14px; text-align: center; font-weight: bold; vertical-align: top; line-height: 14px;">
                <img src="https://venepaikat.hel.fi/img/email_assets/gate.png"
                     alt="Port" style="display: block; margin: 5px auto; height: 46px; width: 46px;"/>
                Port
            </th>
        {% endif %}

        {% if electricity %}
            <th style="width: 70px; font-size: 14px; text-align: center; font-weight: bold; vertical-align: top; line-height: 14px;">
                <img src="https://venepaikat.hel.fi/img/email_assets/electricity.png"
                     alt="El" style="display: block; margin: 5px auto; height: 46px; width: 46px;"/>
                El
            </th>
        {% endif %}

        {% if lighting %}
            <th style="width: 70px; font-size: 14px; text-align: center; font-weight: bold; vertical-align: top; line-height: 14px;">
                <img src="https://venepaikat.hel.fi/img/email_assets/lighting.png"
                     alt="Belysning" style="display: block; margin: 5px auto; height: 46px; width: 46px;"/>
                Belysning
            </th>
        {% endif %}

        {% if water %}
            <th style="width: 70px; font-size: 14px; text-align: center; font-weight: bold; vertical-align: top; line-height: 14px;">
                <img src="https://venepaikat.hel.fi/img/email_assets/water.png"
                     alt="Vatten" style="display: block; margin: 5px auto; height: 46px; width: 46px;"/>
                Vatten
            </th>
        {% endif %}
    </tr>
</table>

<table style="table-layout: fixed;">
    <tbody>
    <tr>
        <td style="width: 20%;">
            <b>
                Kaj:
            </b>
        </td>
        <td style="width: 30%;">
            <b>{{ pierIdentifier }}</b>
        </td>
        <td style="width: 20%;">
            <b>
                Plats:
            </b>
        </td>
        <td style="width: 30%;">
            <b>{{ berthNumber }}</b>
        </td>
    </tr>
    </tbody>
</table>

<table style="table-layout: fixed;">
    <tr>
        <td style="width: 40%;">
            Bredd:
        </td>
        <td style="width: 60%;">{{ width }}</td>
    </tr>
    <tr>
        <td style="width: 40%;">
            Längd:
        </td>
        <td style="width: 60%;">{{ length }}</td>
    </tr>
    <tr>
        <td style="width: 40%;">
            Förtöjning:
        </td>
        <td style="width: 60%;">{{ mooringType }}</td>
    </tr>
</table>

<h3>Båtplatsens pris</h3>

<table style="width: 100%">
    <tr>
        <td colspan="2">
            Grundavgift (3,5 m):
        </td>
        <td>{{ invoice.basePrice }}</td>
    </tr>
    <tr>
        <td>
            Förtöjning:
        </td>
        <td>28 %</td>
        <td>{{ invoice.mooring }}</td>
    </tr>
    <tr>
        <td>
            El:
        </td>
        <td>12 %</td>
        <td>{{ invoice.electricity }}</td>
    </tr>
    <tr>
        <td>
            Vatten:
        </td>
        <td>2 %</td>
        <td>{{ invoice.water }}</td>
    </tr>
    <tr>
        <td>
            Avfallshantering:
        </td>
        <td>8 %</td>
        <td>{{ invoice.wasteManagement }}</td>
    </tr>
    <tr>
        <td colspan="2">
            Port:
        </td>
        <td>{{ invoice.gate }}</td>
    </tr>
    <tr>
        <td colspan="2">
            Belysning:
        </td>
        <td>{{ invoice.lighting }}</td>
    </tr>
    <tr>
        <td colspan="3">
            <hr/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Båtplatsen totalt:
        </td>
        <td>{{ invoice.berthTotal }}</td>
    </tr>
    <tr>
        <td colspan="3">
            Tilläggstjänster:
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Parkeringstillstånd:
        </td>
        <td>{{ invoice.parkingPermit }}</td>
    </tr>
    <tr>
        <td colspan="3">
            <hr/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            TOTALT:
        </td>
        <td>{{ invoice.total }} /
            år
        </td>
    </tr>
</table>

<table style="margin: 32px 0; background-color: #9fc9eb;">
    <tr>
        <td style="padding: 48px;">
            <b>Om du vill ta emot bytesplatsen:</b>
            <p>
                1. Läs igenom de bifogade hyresavtalsvillkoren för båtplatsen och båthamnens regler
            </p>
            <p>
                2. Meddela oss att du tar emot bytesplatsen via denna länk:
            </p>

            <a style="display: block; padding: 16px; color: white; background-color: #0000BF; text-align: center; text-decoration: none;"
               href="{{ acceptUrl }}">Tack, jag byter till den plats som erbjuds &rarr;</a>

            <p>
                Observera att du inte får behålla din nuvarande plats om du tar emot bytesplatsen.
                Vi kommer inte att debitera eller ersätta prisskillnaden om du byter till en plats
                av en annan storlek. För mer information, kontakta vår kundtjänst via
                venepaikkavaraukset@hel.fi.
            </p>
            <b>Om du inte vill ta emot bytesplatsen, men vill att din ansökan ska bli i kraft:</b>
            <p>1. Meddela oss om det via denna länk:</p>

            <a style="display: block; padding: 16px; color: #0000BF; background-color: transparent; border: solid 2px #0000BF; text-align: center; text-decoration: none;"
               href="{{ cancelUrl }}">Nej tack, jag vill inte ha den här båtplatsen &rarr;</a>

            <p>
                Observera att du behåller din nuvarande båtplats om du väljer att inte ta emot
                bytesplatsen. Din ansökan blir kvar i kön, så att vi kan försöka ge dig en plats
                vid följande utdelning.
            </p>
        </td>
    </tr>
</table>

<p>
    Helsingfors stads båtplatser hyrs ut till kunder tills vidare, och för dem
    debiteras en årlig avgift enligt den gällande prislistan. Om fakturan inte betalas
    senast på förfallodagen sägs hyresavtalet upp automatiskt. Båten får förvaras på
    båtplatsen under båtsäsongen, som varar under perioden 10.6–14.9.
</p>
<p>
    För att ta emot en båtplats måste du godkänna de gällande hyresavtalsvillkoren för
    båtplatser och båthamnens regler.
</p>

<table style="width: 100%; margin: 48px 0;">
    <tr>
        <td style="text-align: center;">
            <a style="font-size: 16px; color: #0072C6;" href="https://venepaikat.hel.fi">
                Helsingfors stadens båtservicen &rarr;
            </a>
        </td>
    </tr>
</table>
