<p>
    Hyvä asiakas, kiitos hakemuksestasi. Olemme käsitelleet sen ja tarjoamme
    sinulle alla olevaa venepaikkaa. Jos haluat vastaanottaa sen, ilmoita siitä meille viestin lopussa olevalla
    linkillä.
</p>

<h3>Tarjottava venepaikka</h3>

<img src="{{ harborImage }}" alt="Sataman kuva"/>

<h4>{{ harborName }}</h4>

<p style="margin-bottom: 16px;">
    {{ harborAddress }}
</p>

<p><a href="{{ harborWebAddress }}">
    Toimipisteen nettisivut
</a></p>

<p><a href="{{ harborMap }}">
    Satamakartta (PDF)
</a></p>

<table style="width: 100%; table-layout: fixed;">
    <tr>
        {% if wasteManagement %}
            <th style="width: 70px; font-size: 14px; text-align: center; font-weight: bold; vertical-align: top; line-height: 14px;">
                <svg
                        style="display: block; margin: 5px auto; overflow: visible; border: 2px solid black; border-radius: 50%; height: 32px; width: 32px; padding: 5px;"
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 24 24"
                >
                    <g fill="none" fill-rule="evenodd">
                        <path d="M0 0h24v24H0z"></path>
                        <path
                                d="M18 9H6l1.087 13h9.826L18 9zm-2.095 2l-.818 9H8.912l-.818-9h7.811zM12 2a2.97 2.97 0 012.995 2.82L15 5v1h3v2H6V6h3V5c0-1.688 1.331-3 3-3zm0 2c-.53 0-.938.365-.994.879L11 5v1h2V5c0-.577-.43-1-1-1z"
                                fill="currentColor"
                        ></path>
                    </g>
                </svg>
                Jätehuolto
            </th>
        {% endif %}

        {% if gate %}
            <th style="width: 70px; font-size: 14px; text-align: center; font-weight: bold; vertical-align: top; line-height: 14px;">
                <svg
                        style="display: block; margin: 5px auto; overflow: visible; border: 2px solid black; border-radius: 50%; height: 32px; width: 32px; padding: 5px;"
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 480 480"
                >
                    <path
                            d="M410.18 85l-62 46.23v60.5h-25v-60.44L262.1 85l-62 46.23v60.5h-25v-60.44L114 85l-62 46.22v332.17h123.16V383.5h25v79.89h123.09V383.5h25v79.89h123.08v-332.1zm-178.06 62.27L262 125l29.3 22.18v44.52h-59.18zm59.13 76.45V351.5h-59.13V223.72zM143.16 431.39H84V147.27L113.87 125l29.29 22.18v44.52h-41v32h41v127.8h-41v32h41zm32-79.89V223.72h25V351.5zm116.09 79.89h-59.13V383.5h59.13zm32-79.89V223.72h25V351.5zm116.08 79.89h-59.12V383.5h39v-32h-39V223.72h39v-32h-39v-44.45L410 125l29.29 22.18z"
                    ></path>
                </svg>
                Portti
            </th>
        {% endif %}

        {% if electricity %}
            <th style="width: 70px; font-size: 14px; text-align: center; font-weight: bold; vertical-align: top; line-height: 14px;">
                <svg
                        style="display: block; margin: 5px auto; overflow: visible; border: 2px solid black; border-radius: 50%; height: 32px; width: 32px; padding: 5px;"
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 400 400"
                >
                    <path
                            d="M159.86 380.84h42v74.41h-42zM327.33 142.77H262.1v-81h-32v81h-98.47v-81h-32v81H34.39v32H67v48.82a111.59 111.59 0 0 0 21.6 65.91 119.83 119.83 0 0 0 43.63 36.86v42.86h97.24v-42.5a113.69 113.69 0 0 0 65.23-103.13v-48.82h32.62zm-64.62 80.82c0 34.94-21.88 66-54.46 77.24l-10.77 3.72v32.67h-33.24V305L154 301c-32.91-12.8-55-43.92-55-77.45v-48.78h163.7z"
                    ></path>
                </svg>
                Sähkö
            </th>
        {% endif %}

        {% if lighting %}
            <th style="width: 70px; font-size: 14px; text-align: center; font-weight: bold; vertical-align: top; line-height: 14px;">
                <svg
                        style="display: block; margin: 5px auto; overflow: visible; border: 2px solid black; border-radius: 50%; height: 32px; width: 32px; padding: 5px;"
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 480 480"
                >
                    <path
                            d="M294.37 344.75h32v55.77h-32zM200.584 355.229l41.577-41.664 22.651 22.604-41.577 41.664zM362.922 336.221l22.65-22.604 41.577 41.664-22.65 22.604z"
                    ></path>
                    <path
                            d="M321.32 143.85h-.95v-71.3h-126.7a93.65 93.65 0 0 0-67.59 28.32C108.36 119 98.6 143.43 98.6 169.57V461h95.26v-32H130.6V169.57c0-36.46 27.71-65 63.07-65h94.7v39.3h-.94c-64.88 0-117.66 49.82-117.66 111.07v16h73.43a60.61 60.61 0 0 0 20.8 30.33c13.82 11.08 32.38 17.18 52.26 17.18s38.44-6.1 52.26-17.18a60.61 60.61 0 0 0 20.78-30.35H439v-16c0-61.25-52.8-111.07-117.68-111.07zm-5.08 142.6c-16.55 0-30.36-6.1-37.67-15.53h75.35c-7.32 9.43-21.13 15.53-37.68 15.53zm75.3-47.53h-188c8-36 42.6-63.07 83.9-63.07h33.89c41.3 0 75.87 27.11 83.9 63.07z"
                    ></path>
                </svg>
                Valaistus
            </th>
        {% endif %}

        {% if water %}
            <th style="width: 70px; font-size: 14px; text-align: center; font-weight: bold; vertical-align: top; line-height: 14px;">
                <svg
                        style="display: block; margin: 5px auto; overflow: visible; border: 2px solid black; border-radius: 50%; height: 32px; width: 32px; padding: 5px;"
                        xmlns="http://www.w3.org/2000/svg"
                        width="100%"
                        height="100%"
                        viewBox="0 0 480 480"
                >
                    <path
                            d="M154.61 313.9l-11.36-11.45-11.36 11.45a341.93 341.93 0 0 0-26.29 30.56c-18.95 25-28.16 45.16-28.16 61.73C77.44 425 84.87 442 98.37 454a68.35 68.35 0 0 0 89.76 0c13.5-12 20.94-29 20.94-47.81 0-16.57-9.21-36.76-28.16-61.73a341.09 341.09 0 0 0-26.3-30.56zm-11.36 124.9c-22.2 0-33.81-16.4-33.81-32.61 0-4.14 2.09-16.54 21.44-42.11 4.29-5.66 8.61-10.88 12.37-15.22 3.76 4.34 8.09 9.56 12.37 15.22 19.36 25.57 21.45 38 21.45 42.11 0 16.21-11.62 32.61-33.82 32.61zM341.91 158.33v-44h66.42v-32H243.49v32h66.42v44h-83.63c-57.36 0-104 45.76-104 102v21h42v-21c0-33.1 27.83-60 62-60h220.26v-42z"
                    ></path>
                </svg>
                Vesi
            </th>
        {% endif %}
    </tr>
</table>

<table style="table-layout: fixed;">
    <tbody>
    <tr>
        <td style="width: 20%;">
            <b>
                Laituri:
            </b>
        </td>
        <td style="width: 30%;">
            <b>{{ pierIdentifier }}</b>
        </td>
        <td style="width: 20%;">
            <b>
                Paikka:
            </b>
        </td>
        <td style="width: 30%;">
            <b>{{ berthNumber }}</b>
        </td>
    </tr>
    </tbody>
</table>

<table style="table-layout: fixed;">
    <tr>
        <td style="width: 40%;">
            Leveys:
        </td>
        <td style="width: 60%;">{{ width }}</td>
    </tr>
    <tr>
        <td style="width: 40%;">
            Pituus:
        </td>
        <td style="width: 60%;">{{ length }}</td>
    </tr>
    <tr>
        <td style="width: 40%;">
            Kiinnitystapa:
        </td>
        <td style="width: 60%;">{{ mooringType }}</td>
    </tr>
</table>

<h3>Venepaikan hinta</h3>

<table style="width: 100%">
    <tr>
        <td colspan="2">
            Perushinta (3,5 m):
        </td>
        <td>{{ invoice.basePrice }}</td>
    </tr>
    <tr>
        <td>
            Kiinnitys:
        </td>
        <td>28 %</td>
        <td>{{ invoice.mooring }}</td>
    </tr>
    <tr>
        <td>
            Sähkö:
        </td>
        <td>12 %</td>
        <td>{{ invoice.electricity }}</td>
    </tr>
    <tr>
        <td>
            Vesi:
        </td>
        <td>2 %</td>
        <td>{{ invoice.water }}</td>
    </tr>
    <tr>
        <td>
            Jätehuolto:
        </td>
        <td>8 %</td>
        <td>{{ invoice.wasteManagement }}</td>
    </tr>
    <tr>
        <td colspan="2">
            Portti:
        </td>
        <td>{{ invoice.gate }}</td>
    </tr>
    <tr>
        <td colspan="2">
            Valaistus:
        </td>
        <td>{{ invoice.lighting }}</td>
    </tr>
    <tr>
        <td colspan="3">
            <hr/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Venepaikka yhteensä:
        </td>
        <td>{{ invoice.berthTotal }}</td>
    </tr>
    <tr>
        <td colspan="3">
            Lisäpalvelut:
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Pysäköintilupa:
        </td>
        <td>{{ invoice.parkingPermit }}</td>
    </tr>
    <tr>
        <td colspan="3">
            <hr/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            YHTEENSÄ:
        </td>
        <td>{{ invoice.total }} /
            vuosi
        </td>
    </tr>
</table>

<table style="margin: 32px 0; background-color: #9fc9eb;">
    <tr>
        <td style="padding: 48px;">
            <b>Jos haluat vastaanottaa vaihtopaikan:</b>
            <p>
                1. Tutustu liitteenä oleviin venepaikan vuokrasopimusehtoihin ja
                venesatamasääntöihin
            </p>
            <p>
                2. Ilmoita meille että otat vaihtopaikan vastaan tämän linkin kautta:
            </p>

            <a style="display: block; padding: 16px; color: white; background-color: #0000BF; text-align: center; text-decoration: none;"
               href="{{ acceptUrl }}">Kiitos, vaihdan tarjottuun paikkaan &rarr;</a>

            <p>
                Huomaathan, että jos vastaanotat vaihtopaikan, nykyinen paikkasi vapautuu. Emme peri tai hyvitä
                vaihdosta
                hinnan erotusta vaihtaessasi eri kokoiseen paikkaan. Lisätietoja asiakaspalvelustamme venepaikat@hel.fi.
            </p>
            <b>Jos et halua vastaanottaa vaihtopaikkaa, mutta haluat, että hakemuksesi pysyy voimassa:</b>
            <p>1. Ilmoita meille siitä tämän linkin kautta:</p>

            <a style="display: block; padding: 16px; color: #0000BF; background-color: transparent; border: solid 2px #0000BF; text-align: center; text-decoration: none;"
               href="{{ cancelUrl }}">Ei kiitos, en halua tätä venepaikkaa &rarr;</a>

            <p>
                Huomaathan, että jos päätät olla vastaanottamatta vaihtopaikkaa, nykyinen venepaikkasi säilyy sinulla.
                Hakemuksesi pysyy jonossa, jotta voimme koittaa antaa sinulle paikan seuraavassa jaossa.
            </p>
        </td>
    </tr>
</table>

<p>
    Helsingin kaupungin venepaikat vuokrataan asiakkaille toistaiseksi
    voimassa olevina ja niistä peritään vuosittain kulloinkin voimassa
    olevan hinnaston mukainen maksu. Jos laskua ei maksa eräpäivään
    mennessä, vuokrasopimus irtisanoutuu automaattisesti. Veneilykausi on
    10.6.-14.9., jona aikana venepaikalla saa pitää venettä.
</p>
<p>
    Venepaikan vastaanottaminen edellyttää voimassa olevien venepaikan
    vuokrasopimusehtojen sekä venesatamasääntöjen hyväksymistä.
</p>

<table style="width: 100%; margin: 48px 0;">
    <tr>
        <td style="text-align: center;">
            <a style="font-size: 16px; color: #0072C6;" href="https://venepaikat.hel.fi">
                Helsingin kaupungin veneilypalvelut &rarr;
            </a>
        </td>
    </tr>
</table>
