<p>
    Hyvä asiakas, tässä lasku venepaikasta. Voit maksaa sen klikkaamalla "siirry maksamaan" -painiketta
    alempana tässä viestissä.
</p>

<h3>Laskun aiheena oleva venepaikka</h3>

<p>
    {{ harborName }}<br/>
    {{ harborAddress }}<br/>
    <br/>
    Paikka: {{ pierIdentifier }} {{ berthNumber }}
</p>

<h3>Venepaikan hinta</h3>

<table style="width: 100%">
    <tr>
        <td colspan="2">
            Perushinta (3,5 m):
        </td>
        <td>{{ invoice.basePrice }}</td>
    </tr>
    <tr>
        <td>
            Kiinnitys:
        </td>
        <td>28 %</td>
        <td>{{ invoice.mooring }}</td>
    </tr>
    <tr>
        <td>
            Sähkö:
        </td>
        <td>12 %</td>
        <td>{{ invoice.electricity }}</td>
    </tr>
    <tr>
        <td>
            Vesi:
        </td>
        <td>2 %</td>
        <td>{{ invoice.water }}</td>
    </tr>
    <tr>
        <td>
            Jätehuolto:
        </td>
        <td>8 %</td>
        <td>{{ invoice.wasteManagement }}</td>
    </tr>
    <tr>
        <td colspan="2">
            Portti:
        </td>
        <td>{{ invoice.gate }}</td>
    </tr>
    <tr>
        <td colspan="2">
            Valaistus:
        </td>
        <td>{{ invoice.lighting }}</td>
    </tr>
    <tr>
        <td colspan="3">
            <hr/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Venepaikka yhteensä:
        </td>
        <td>{{ invoice.berthTotal }}</td>
    </tr>
    <tr>
        <td colspan="3">
            Lisäpalvelut:
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Pysäköintilupa:
        </td>
        <td>{{ invoice.parkingPermit }}</td>
    </tr>
    <tr>
        <td colspan="3">
            <hr/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            YHTEENSÄ:
        </td>
        <td>{{ invoice.total }} /
            vuosi
        </td>
    </tr>
</table>

<table style="margin: 32px 0; background-color: #9fc9eb;">
    <tr>
        <td style="padding: 32px 48px;">
            <p>
                Maksa lasku tämän linkin kautta ennen eräpäivää {{ dueDate }}:
            </p>

            <a style="display: block; padding: 16px; color: white; background-color: #0000BF; text-align: center; text-decoration: none;"
               href="{{ paymentUrl }}">Siirry maksamaan {{ invoice.total }} &rarr;</a>

            <p>
                Huomaathan, että laskun voi maksaa vain tämän linkin kautta. Muulla
                tavoin maksettuja maksuja ei voida ottaa vastaan. Lisätietoja
                asiakaspalvelustamme venepaikkavaraukset@hel.fi.
            </p>
        </td>
    </tr>
</table>

<p>
    Helsingin kaupungin venepaikat vuokrataan asiakkaille toistaiseksi
    voimassa olevina ja niistä peritään vuosittain kulloinkin voimassa
    olevan hinnaston mukainen maksu. Jos laskua ei maksa eräpäivään
    mennessä, vuokrasopimus irtisanoutuu automaattisesti. Veneilykausi on
    10.6.-14.9., jona aikana venepaikalla saa pitää venettä.
</p>
<p>
    Venepaikan vastaanottaminen edellyttää voimassa olevien venepaikan
    vuokrasopimusehtojen sekä venesatamasääntöjen hyväksymistä.
</p>

<table style="width: 100%; margin: 48px 0;">
    <tr>
        <td style="text-align: center;">
            <a style="font-size: 16px; color: #0072C6;" href="https://venepaikat.hel.fi">
                Helsingin kaupungin veneilypalvelut &rarr;
            </a>
        </td>
    </tr>
</table>
