<p>Hyvä asiakas, olemme vastaanottaneet peruutuksen. Lasku, hakemus ja sopimus liittyen paikkaan on
    peruttu {{ cancellation_date }} alkaen.</p>

<h3>Kohde</h3>

<b>{{ lease.berth.pier.harbor.name }}</b>
<p>{{ lease.berth.pier.harbor.street_address }}</p>
<p>Paikka: {{ lease.berth.pier.identifier }} {{ lease.berth.number }}</p>
<br/>

<p>Kysymykset ja lisätiedot: <a href="mailto:venepaikkavaraukset@hel.fi">venepaikkavaraukset@hel.fi</a></p>

<table style="width: 100%; margin: 48px 0;">
    <tr>
        <td style="text-align: center;">
            <a style="font-size: 16px; color: #0072C6;" href="https://venepaikat.hel.fi">
                Helsingin kaupungin veneilypalvelut &rarr;
            </a>
        </td>
    </tr>
</table>
