<p>
    Dear customer, here is the invoice for your winter storage space. You can pay it by
    clicking the ‘make your payment’ button below in this message.
</p>
<p>
    After receiving your payment, we will send you a winter storage sticker that must
    be attached to the boat in a visible spot. We will inspect the payment situation of
    boats taken to winter storage areas. An additional payment may be imposed on any
    boats found without a sticker.
</p>

<h3>Price of the winter storage place</h3>

<table style="width: 100%">
    <tr>
        <td colspan="2">
            Basic price / m<sup>2</sup>:
        </td>
        <td>{{ order.product.price_value }}</td>
    </tr>
    <tr>
        <td colspan="3">
            <hr/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Winter storage place in total:
        </td>
        <td>{{ order.fixed_price_total }}</td>
    </tr>

    {% if optional_services %}
        <tr>
            <td colspan="3">
                <hr/>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                Additional services:
            </td>
        </tr>
    {% endif %}
    {% for order_line in optional_services %}
        <tr>
            <td colspan="2">{{ order_line.product.get_service_display() }}:</td>
            <td>{{ order_line.price }}&euro;</td>
        </tr>
    {% endfor %}

    <tr>
        <td colspan="3">
            <hr/>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            TOTAL:
        </td>
        <td>{{ order.total_price }}&euro; / year
        </td>
    </tr>
</table>

<table style="width: 100%; margin: 32px 0; background-color: #9fc9eb;">
    <tr>
        <td style="padding: 32px 48px;">
            <p>
                Please pay the invoice via this link before the due date {{ order.due_date }}:
            </p>

            <a style="display: block; padding: 16px; color: white; background-color: #0000BF; text-align: center; text-decoration: none;"
               href="{{ payment_url }}">Make your payment {{ order.total_price }}&euro; &rarr;</a>

            <p>
                Please note that you can only pay the invoice via this link. We cannot accept
                payments made through other means. For more information, please contact our
                customer service department at <a
                    href="mailto:venepaikkavaraukset@hel.fi">venepaikkavaraukset@hel.fi</a>.
            </p>
        </td>
    </tr>
</table>

<p>
    The City of Helsinki’s boat berths are leased out to customers until further
    notice, and an annual fee is charged for them in accordance with the currently
    valid price list. If the invoice is not paid by the due date, the lease is
    terminated automatically. The boating season is from 10 June to 14 September,
    during which boats are allowed to be kept at berths.
</p>
<p>
    In order to reserve a boat berth, the current boat berth lease agreement terms and
    the harbor rules must be accepted.
</p>

<table style="width: 100%; margin: 48px 0;">
    <tr>
        <td style="text-align: center;">
            <a style="font-size: 16px; color: #0072C6;" href="https://venepaikat.hel.fi">
                City of Helsinki boating services &rarr;
            </a>
        </td>
    </tr>
</table>
