<h3>Hei {{ reservation.first_name }}!</h3>

<p>Kiitos, hakemuksesi on vastaanotettu.</p>

<p>
    Sinuun otetaan yhteyttä tekstiviestillä kun sopiva talvisäilytyspaikka
    vapautuu.
</p>

<p>
    Jos haluat muuttaa tai perua hakemuksesi tai tiedustella muuta
    hakemukseesi liittyvää asiaa, lähetä sähköpostia osoitteeseen
    venepaikkavaraukset@hel.fi.
</p>

<b>Aika</b> {{ created_at }}<br/>

<b>Hakija</b> {{ reservation.first_name }} {{ reservation.last_name }}<br/>

{% if reservation.company_name %}
    <b>Yritys</b> {{ reservation.company_name }} ({{ reservation.business_id }})<br/>
{% endif %}

<hr/>

<h4>Valitut säilytysalueet</h4>

<table style="width: 100%">
    <tbody>
    {% for choice in area_choices %}
        <tr>
            <td><b>{{ choice.priority }}</b></td>
            <td>{{ choice.winter_storage_area.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if reservation.application_code %}
    <p><b>Hakukoodi:</b> {{ reservation.application_code }}</p>
{% endif %}

<hr/>

<h4>Boat information</h4>

<table style="width: 100%">
    <tbody>
    {% if reservation.boat_registration_number %}
        <tr>
            <td><b>Rekisterinumero</b></td>
            <td>{{ reservation.boat_registration_number }}</td>
        </tr>
    {% endif %}

    {% if reservation.boat_name %}
        <tr>
            <td><b>Nimi</b></td>
            <td>{{ reservation.boat_name }}</td>
            <td><b>Malli</b></td>
            <td>{{ reservation.boat_model }}</td>
        </tr>
    {% endif %}

    <tr>
        <td><b>Pituus</b></td>
        <td>{{ reservation.boat_length }} m</td>
        <td><b>Leveys</b></td>
        <td>{{ reservation.boat_width }} m</td>
    </tr>
    </tbody>
</table>

<hr/>

<h4>Säilytys</h4>

{{ reservation.storage_method }}

{% if reservation.trailer_registration_number %}
    <table style="width: 100%">
        <tbody>
        <tr>
            <td><b>Trailerin rekisterinumero</b></td>
            <td>{{ reservation.trailer_registration_number }} m</td>
        </tr>
        </tbody>
    </table>
{% endif %}

<p>
    Terveisin,<br/>
    Helsingin kaupungin venepaikkavaraukset
</p>