<h3>Hej {{ application.first_name }}!</h3>

<p>Tack, din ansökan har mottagits.</p>

<p>
    Om du vill ändra eller annullera din ansökan eller undrar om något som
    gäller ansökan, skicka e-post till <a href="mailto:venepaikkavaraukset@hel.fi">venepaikkavaraukset@hel.fi</a>.
</p>

<b>Tid</b> {{ created_at }}<br/>

<b>Sökande</b> {{ application.first_name }} {{ application.last_name }}<br/>

{% if application.company_name %}
    <b>Company</b> {{ application.company_name }} ({{ application.business_id }})<br/>
{% endif %}

<hr/>

<h4>Valda platser</h4>

<table style="width: 100%">
    <tbody>
    {% for choice in area_choices %}
        <tr>
            <td><b>{{ choice.priority }}</b></td>
            <td>{{ choice.winter_storage_area.name }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if application.application_code %}
    <p><b>Sökkod:</b> {{ application.application_code }}</p>
{% endif %}

<hr/>

<h4>Uppgifter om båt</h4>

<table style="width: 100%">
    <tbody>
    {% if application.boat_registration_number %}
        <tr>
            <td><b>Registernummer</b></td>
            <td>{{ application.boat_registration_number }}</td>
        </tr>
    {% endif %}

    {% if application.boat_name %}
        <tr>
            <td><b>Namn</b></td>
            <td>{{ application.boat_name }}</td>
            <td><b>Modell</b></td>
            <td>{{ application.boat_model }}</td>
        </tr>
    {% endif %}

    <tr>
        <td><b>Längd</b></td>
        <td>{{ application.boat_length }} m</td>
        <td><b>Bredd</b></td>
        <td>{{ application.boat_width }} m</td>
    </tr>
    </tbody>
</table>

<hr/>

<h4>Uppläggningssätt</h4>

{{ application.get_storage_method_display() }}

{% if application.trailer_registration_number %}
    <table style="width: 100%">
        <tbody>
        <tr>
            <td><b>Trailer registernummer</b></td>
            <td>{{ application.trailer_registration_number }} m</td>
        </tr>
        </tbody>
    </table>
{% endif %}

<p>
    Vänliga hälsningar,<br/>
    Helsingfors stads båtplatsbokningar
</p>
