<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>{{ subject }}</title>
</head>

<body style="-moz-box-sizing: border-box; -ms-text-size-adjust: 100%; -webkit-box-sizing: border-box; -webkit-text-size-adjust: 100%; Margin: 0; box-sizing: border-box; font-size: 16px; font-weight: normal; line-height: 1.3; margin: 0; min-width: 100%; padding: 0; text-align: left; width: 100% !important; background:#f1f1f1;">
<table align="center"
       style="Margin:0 auto;background:#fff;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px">
    <tbody>
    <tr style="padding:0;text-align:left;vertical-align:top">
        <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#000;font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;hyphens:auto;line-height:1.5;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
            <table style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th style="Margin:0 auto;color:#000;font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.5;margin:0 auto;padding:0;padding-bottom:24px;padding-left:40px;padding-right:40px;padding-top:48px;text-align:left;width:560px">
                        <img src="https://venepaikat.hel.fi/img/email_assets/header-fi.png"
                             alt="Helsinki"
                             style="display:block;height:48px;margin-bottom:56px;max-width:100%;outline:0;width:auto">
                        <h1 style="Margin:0;Margin-bottom:24px;color:inherit;font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;font-size:36px;font-weight:700;line-height:1;margin:0;margin-bottom:24px;padding:0;text-align:left;word-wrap:normal">
                            Helsingin kaupunki / Venepaikat</h1>
                        <h2 style="Margin:0;Margin-bottom:24px;color:inherit;font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;font-size:24px;font-weight:500;line-height:1;margin:0;margin-bottom:24px;padding:0;text-align:left;word-wrap:normal">
                            {{ subject }}</h2>
                        <hr style="background:#0072c6;border:none;height:5px">
                    </th>
                </tr>
                </tbody>
            </table>
            <table style="border-collapse:collapse;border-spacing:0;display:table;font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody style="font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif">
                <tr style="font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                    <td style="Margin:0 auto;color:#000;font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.5;margin:0 auto;padding:0;padding-bottom:48px;padding-left:40px;padding-right:40px;text-align:left;width:560px">
                        {{ content }}
                    </td>
                </tr>
                </tbody>
            </table>
            <img src="https://venepaikat.hel.fi/img/email_assets/koro.png"
                 alt="koro"
                 style="display:block;height:20px;margin:0;max-width:100%;outline:0;width:auto">
            <table style="border-collapse:collapse;border-spacing:0;display:table;padding:0;position:relative;text-align:left;vertical-align:top;width:100%">
                <tbody>
                <tr style="padding:0;text-align:left;vertical-align:top">
                    <th style="Margin:0 auto;background-color:#dedfe1;color:#000;font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.5;margin:0 auto;padding:0;padding-bottom:24px;padding-left:40px;padding-right:40px;text-align:left;width:560px">
                        <table style="border-collapse:collapse;border-spacing:0;font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top;width:100%">
                            <tr style="font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;padding:0;text-align:left;vertical-align:top">
                                <th style="Margin:0;color:#000;font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;font-size:18px;font-weight:400;line-height:1.5;margin:0;padding:0;text-align:left">
                                    <img src="https://venepaikat.hel.fi/img/email_assets/footer-fi.png"
                                         alt="Helsinki"
                                         style="display:block;height:64px;margin-bottom:40px;margin-top:56px;max-width:100%;outline:0;width:auto">
                                    <p style="Margin:0;Margin-bottom:32px;color:#000;font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:1.5;margin:0;margin-bottom:32px;padding:0;text-align:left">
                                        Venepaikkavaraukset<br>
                                        Fredriksberg A 1<br>
                                        00100 Helsinki</p>
                                    <hr style="background:#b2b2b2;border:none;height:1px;margin-bottom:24px;margin-top:24px">
                                    <p style="Margin:0;Margin-bottom:32px;color:#000;font-family:HelsinkiGrotesk,Helvetica,Arial,sans-serif;font-size:14px;font-weight:400;line-height:1.75;margin:0;margin-bottom:32px;padding:0;text-align:left">
                                        &copy; Copyright 2020 &bull; Kaikki oikeudet pidätetään &bull;</p>
                                </th>
                            </tr>
                        </table>
                    </th>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>
